<div style="display: flex; align-items: center; justify-content: center">
    <div class="content_wrapper">
      <img src="assets/logo_footer.svg" />
  
      <div *ngFor="let content of footerContent">
        <div class="footer_header">{{ content.title }}</div>
        <div class="footer_line"></div>
        <div class="footer_text">
          <ng-template ngFor let-item [ngForOf]="content.data">
            <p>{{ item }}</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  